<footer>
   <div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
      <hr>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>&copy; 2010-2016 Jiannan Ouyang All Rights Reserved. {% if LAST_UPDATED %} Last updated {{ LAST_UPDATED }}. {% endif %}</p>
      </div>
   </div>
</footer>
         <!-- Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>, 
         <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
         <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> -->

