{% extends "base.html" %}

{% block content %}
    {% if articles %}
        {% for page in pages %}
          {% if page.title == "Home" %}
            <section id="content" class="body">
                {% import 'includes/translations.html' as translations with context %}
                {{ translations.translations_for(page) }}
                <div class="entry-content">
                    {{ page.content }}
                </div>
            </section>
          {% endif %}
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}

{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}

{% block banner %}
	{% include 'includes/banner.html' %}
{% endblock %}
